<article class="post">
  <header>
    <div class="title">
      <h2><a [routerLink]="['/article', data?.id]">{{ data?.title }}</a></h2>
      <p>{{ data?.subtitle }}</p>
    </div>
    <div class="meta">
      <time class="published" datetime="2015-11-01">November 1, 2015</time>
      <a href="#" class="author"><span class="name">Jane Doe</span> <!--<img src="assets/images/avatar.jpg" alt="" />--> </a>
    </div>
  </header>
  <a [routerLink]="['/article', data?.id]" class="image featured"><img src="{{ imageUrl }}" alt="" /></a>
  <p [innerHTML]="htmlContent"></p>
  <footer>
    <ul class="actions">
      <li><a [routerLink]="['/article', data?.id]" class="button large">Continue Reading</a></li>
    </ul>
    <ul class="stats">
      <li><a href="#">General</a></li>
      <li><a href="#" class="icon solid fa-heart">28</a></li>
      <li><a href="#" class="icon solid fa-comment">128</a></li>
    </ul>
  </footer>
</article>
