#footer .icons {
  color: #aaaaaa;
}

#footer .copyright {
  color: #aaaaaa;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.5em;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}
