<section id="footer">
  <ul class="icons">
    <li><a href="#" class="icon brands"><fa-icon [icon]="twitterIcon"><span class="label">Twitter</span></fa-icon></a></li>
    <li><a href="#" class="icon brands"><fa-icon [icon]="facebookIcon"><span class="label">Facebook</span></fa-icon></a></li>
    <li><a href="#" class="icon brands"><fa-icon [icon]="instagramIcon"><span class="label">Instagram</span></fa-icon></a></li>
    <li><a href="#" class="icon solid"><fa-icon [icon]="rssIcon"><span class="label">RSS</span></fa-icon></a></li>
    <li><a href="#" class="icon solid"><fa-icon [icon]="emailIcon"><span class="label">Email</span></fa-icon></a></li>
  </ul>

  <p class="copyright" [innerHTML]="copyright"></p>
</section>
